# Build and Release Folders
build/
build_ut/
publish/
# test directories
fileutil_test/
fileutil_test_copy/
build_ut/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
